<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome.css}">

    <!-- DATATABLES -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/datatables.css}" />

    <!-- AUTOCOMPLETE -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/chosen.css}">

    <!-- AUTOCOMPLETE -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/gallery.css}">

    <!-- DATE RANGE -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/data.css}">

    <!-- ESTILO DO TEMA - SEMPRE POR ÚLTIMO -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/omnifacil.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">

    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/form.js}"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">

    <title>Grupo de Produtos</title>
</head>
    <body>
        <div th:replace="header :: navs"></div>
            <main class="container-fluid">

            <!-- painel do formulario -->
                <div class="x_panel">
                    <div class="x-title " >
                        <h2 class="text-center">Novo Grupo</h2>
                    </div>
                    
                    <div class="x_content text-center">

                        <form th:action="@{/api/public/grupo/new}"  th:object="${grupoRequest}"  data-toggle="validator" class="my-5 col-md-12 text-center" method="POST">
                            <fieldset>

                                <!-- multiplo select-->
                                <div class="">

                                    <div class="row">
                                        <div class="form-group text-left col-md-5" style="left: 1em;">
                                            <label class="control-label" >Nome do novo grupo: <span class="text-danger form-inline" th:errors="*{nome}"></span></label>
                                            <input type="text" class="form-control has-validation " name="nome" placeholder="Digite o Nome do Grupo">
                                        </div>
                                    </div>

                                    <div  class="form-group text-left col-md-5 my-5">
                                        <label  class=" marginlabel control-label">Produtos disponíveis para o grupo</label>
                                        <input class="form-control" type="text" id="filtro" placeholder="Buscar opção">
                                        <select  class="form-control" multiple="multiple" size="10"  id="selectSaida">
                                            <option th:each="depProduto : ${produtos}" th:value="${depProduto.id}" th:text="${depProduto.nome}"></option>
                                        </select>
                                    </div>  

                                    <div  class="col-md-2" style="top: 6em;">
                                            <div>
                                                <button type="button" id="adiciona" class="btn btn-primary"><i class="fas fa-arrow-right"></i></button>
                                            </div>

                                            <div>
                                                <button type="button" id="remove"class="btn btn-primary" ><i class="fas fa-arrow-left"> </i></button>
                                            </div>
                                    </div> 

                                    <div class="form-group text-left col-md-5 my-5">
                                        <label  class=" marginlabel control-label">Sistema que usuário tem acesso  <span class="text-danger form-inline" th:errors="*{produto}"></span></label>
                                        <select name="produto"  class="form-control" multiple="multiple" size="12" id="selectEntrada"></select>
                                    </div>

                                    <div  class="col-md-12 text-center">     
                                        <div>
                                            <a href="/api/public/grupo/list" type="button"  class="btn btn-default">Cancelar</a>
                                            <button id="salvar" type="submit" class="btn btn-primary">Adicionar Grupo</button>
                                        </div>
                                    </div> 

                                </div>

                            </fieldset>
                        </form>
                    </div>      
                </div>
            </main>
    </body>
</html>