body {
    font-family: 'Oswald', sans-serif;

}

.logo{
    width: 5%;

}

.header{
    background: #002c7c;
    color: #ffffff;
    border: none;
    height: auto;
    margin: 0;
}

.abutton{
    text-decoration:none;
    font-size: 15px;
    font:larger;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 15px;
  
}

.abutton:hover{
  color: #FFFFFF;
  text-decoration: none;
}

.tr{
    background: #FFFFFF;
}

label{
    margin-bottom: 5px;
}


