body *{
  font-family: 'Oswald', sans-serif;
}
  
.overflow {
  overflow-x: hidden ;
  
}

.painel-finalizado{

    background-color: #c01616 !important;
}

#div-botao{
  margin-top: 15px
}

.crumb {
    line-height: 36px;
    list-style: none;
    padding: 4px 15px;
    margin: 0 -5px;
    background: #fff; 
}
  
  
.crumb li:first-child a:before {
    font-family: 'FontAwesome';
    padding-right: 5px; 
}
  
.crumb li:last-child {
    font-weight: bold; 
}


  
    /*-----------------------------------------*/

.tabela-acesso {
  margin: 24px solid red ;
}


#painel-color{background: #dd5f13;}
#botao-color{
  background:  #dd5f13;
  border:none     ;}

#icon-color{background: #dd5f13;}

#botao-color:hover{
  background: #337ab7 ;
}
.painel-padding{
  padding-right: 0px;
  padding-left: 0px;
}

.margin-button{

  margin-top: 74px;

}
.margin-painel{margin: 0px;}
#margin-li{
  margin: 10px 0px 5px 5px;
}

#card-padding{padding-right: 19px;}


.icon-size {font-size: 50px;}
.icon-padding{padding: 10px 65px 10px 20px;}
.icon-color{color:#002c7c;}


#painel-secundario{
  margin: -9px auto 15px!important;
}
.text-possition{display: inline-block;
                 vertical-align: top;}

#color-cpf{
  background: gray ;
}


.dataTables_wrapper div:first-child{

  margin-bottom:5px;
  
}

