@charset "UTF-8";
/* Layout */
/*Fonts*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");
/* Omni Colors */
/* Theme Colors */
/*Record colors*/
/* Responsive adjustments */
/* BODY */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  padding-bottom: 50px; }

a, .btn {
  transition: all 0.3s ease-in 0s; }

.btn {
  margin-bottom: 10px; }

/* Button - Groups */
.btn-group-vertical .btn {
  margin-bottom: 0px; }

/* 5 Columns */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-5ths {
  width: 20%;
  float: left; }

.operator-panel .dl-horizontal dt {
  float: left; }

/* PAINEL COM SCROLL */
.x_content.scroll-content {
  overflow-x: hidden;
  min-height: 13vh;
  max-height: 38vh; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }

.modal-footer .btn + .btn {
  margin-bottom: 10px; }

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  margin: 0;
  right: 0;
  -webkit-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding-bottom: 0; }
  .sticky .navbar {
    background: #002c7c;
    color: #ffffff;
    border-radius: 0;
    border: none;
    height: auto;
    margin: 0; }
    .sticky .navbar a.scroll {
      color: #ffffff; }
    .sticky .navbar .dropdown .dropdown-toggle {
      color: #ffffff;
      transition: all 0.3s ease-in 0s; }
      .sticky .navbar .dropdown .dropdown-toggle:hover {
        transition: all 0.3s ease-in 0s;
        background-color: #dd5f13;
        background: #ff7e2f;
        background: -moz-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
        background: -webkit-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
        background: linear-gradient(to bottom, #ff7e2f 0%, #dd5f13 100%); }
    .sticky .navbar .dropdown.open .dropdown-toggle {
      color: #ffffff;
      transition: all 0.3s ease-in 0s;
      background-color: #dd5f13;
      background: #ff7e2f;
      background: -moz-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
      background: -webkit-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
      background: linear-gradient(to bottom, #ff7e2f 0%, #dd5f13 100%); }
    .sticky .navbar .dropdown .dropdown-menu {
      padding: 0px 0 5px; }
      .sticky .navbar .dropdown .dropdown-menu a {
        color: #002c7c;
        font-weight: bold;
        border-top: 1px solid #e4e4e4;
        line-height: 150%;
        padding: 7px 20px;
        margin: 0;
        background: #fff; }
    .sticky .navbar a {
      transition: all 0.3s ease-in 0s; }

.navbar {
  background: #002c7c;
  color: #ffffff;
  border: none;
  height: auto;
  margin: 0; }
  .navbar a.scroll {
    color: #ffffff; }
  .navbar .dropdown .dropdown-toggle {
    color: #ffffff;
    transition: all 0.3s ease-in 0s; }
    .navbar .dropdown .dropdown-toggle:hover, .navbar .dropdown .dropdown-toggle:focus {
      color: #ffffff;
      transition: all 0.3s ease-in 0s;
      background-color: #dd5f13;
      background: #ff7e2f;
      background: -moz-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
      background: -webkit-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
      background: linear-gradient(to bottom, #ff7e2f 0%, #dd5f13 100%); }
  .navbar .dropdown.open .dropdown-toggle {
    color: white !important;
    transition: all 0.3s ease-in 0s;
    background-color: #dd5f13;
    background: #ff7e2f;
    background: -moz-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
    background: -webkit-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
    background: linear-gradient(to bottom, #ff7e2f 0%, #dd5f13 100%); }
  .navbar .dropdown .dropdown-menu {
    padding: 0px 0 5px; }
    .navbar .dropdown .dropdown-menu a {
      color: #002c7c;
      font-weight: bold;
      border-top: 1px solid #e4e4e4;
      line-height: 150%;
      padding: 7px 20px;
      margin: 0;
      background: #fff; }
      .navbar .dropdown .dropdown-menu a:hover {
        color: white;
        background: #dd5f13; }

.x_panel {
  position: relative;
  width: 100%;
  display: inline-block;
  background: #fff;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  margin: 10px auto 10px;
  padding: 0px;
  border: 0;
  -webkit-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  transition: all .2s ease; }
  .x_panel .x-title {
    background: #002c7c;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    color: #ffffff; }
    .x_panel .x-title h2 {
      font-size: 2rem;
      font-weight: bold;
      padding: 5px 0 5px 10px;
      margin: 0;
      color: #ffffff; }
  .x_panel .x_content {
    padding: 10px; }
    .x_panel .x_content h2, .x_panel .x_content h3, .x_panel .x_content h4, .x_panel .x_content h5, .x_panel .x_content h6 {
      margin: 10px 0; }

.panel {
  -webkit-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  transition: all .2s ease;
  border: none; }
  .panel.panel-danger .panel-heading {
    background: #dd5f13;
    color: #ffffff; }
  .panel.panel-warning .panel-heading {
    background: #EA9908;
    color: #ffffff; }
  .panel.panel-primary .panel-heading {
    background: #002d74;
    color: #ffffff; }
  .panel.panel-info .panel-heading {
    background: #004bc1;
    color: #ffffff; }
  .panel.panel-default .panel-heading {
    background: #7c7c7c;
    color: #ffffff; }
  .panel.panel-success .panel-heading {
    background: #3c763d;
    color: #ffffff; }

/* Elementos */
.table > tbody > tr > td {
  vertical-align: middle; }

.table-hover > tbody > tr:hover {
  background-color: #e4e4e4; }

/* SISTEMAS - PARA ATIVAR APENAS REMOVA O COMENTÁRIO */
/*CONFIG*/
.text-danger {
  color: #FF3000 !important; }

/*CLASSES*/
body {
  margin: 0;
  padding: 0;
  background: #F2F3F7; }

.btn {
  border-radius: 50px;
  border: none; }

/* HEADER */
header {
  background: #FFF;
  font-family: 'Montserrat', sans-serif;
  height: 80px; }
  header .navbar#new-menu {
    background: #FFF; }
    header .navbar#new-menu a {
      padding: 45px 42px; }
    header .navbar#new-menu #logo-omni img {
      padding: 16px 10px 0px 0px; }
    header .navbar#new-menu .nav.navbar-nav > li > a {
      background: none;
      color: #666666;
      font-weight: 500;
      padding: 30px 15px 27px;
      line-height: 100%;
      font-size: 1.5rem; }
      header .navbar#new-menu .nav.navbar-nav > li > a:hover, header .navbar#new-menu .nav.navbar-nav > li > a.active {
        color: #002977; }
      header .navbar#new-menu .nav.navbar-nav > li > a i {
        font-size: 2.4rem; }
      header .navbar#new-menu .nav.navbar-nav > li > a span {
        display: inline-block;
        top: -4px;
        position: relative; }
  header .navbar li a {
    color: #002977; }

/* HOME */
.homeTitle h1 span {
  color: #002977; }

.homeTitle h2 span {
  color: #FF7300; }

.contractList {
  border-bottom: 1px solid #FFF;
  padding: 0px 0;
  list-style: none;
  margin-bottom: 0; }
  .contractList > li {
    width: 100%;
    min-height: 120px;
    list-style: none;
    border-radius: 10px;
    background: #FFF;
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-align: center;
    align-items: center;
    box-align: center; }
    .contractList > li .icon {
      width: 10%; }
      .contractList > li .icon a {
        width: 60px;
        height: 60px;
        text-indent: -99999px;
        display: block;
        border-radius: 50%;
        background-size: 60%;
        margin: 0 auto; }
    .contractList > li .infos {
      width: 55%; }
    .contractList > li .action-buttons {
      width: 25%;
      text-align: right;
      padding-right: 25px; }
      .contractList > li .action-buttons span, .contractList > li .action-buttons i {
        display: inline-block; }
    .contractList > li span {
      display: block;
      font-weight: 900; }
    .contractList > li .infos li {
      text-align: center; }
  .contractList h3 {
    font-weight: 900;
    margin: 0 0 5px; }
  .contractList .btn {
    font-size: 1.6rem;
    padding: 9px 13px;
    border-radius: 20px;
    margin-bottom: 0; }
  .contractList.negative h3 {
    color: #FF7300; }
  .contractList.negative .icon a {
    background-color: #FF7300; }
  .contractList.negative .btn {
    background-color: #FF7300; }
  .contractList.positive h3 {
    color: #002977; }
  .contractList.positive .icon a {
    background-color: #002977; }
  .contractList .operations {
    text-align: center; }

/* ICONES DE PRODUTOS */
.carro {
  background: url(../images/portal/ic_carro.svg) center center no-repeat; }

.banco {
  background: url(../images/portal/ic_banco.svg) center center no-repeat; }

.leasing {
  background: url(../images/portal/ic_leasing.svg) center center no-repeat; }

.cartao {
  background: url(../images/portal/ic_cartao.svg) center center no-repeat; }

.credito {
  background: url(../images/portal/ic_emprestimo.svg) center center no-repeat; }

.cdc {
  background: url(../images/portal/ic_cdc.svg) center center no-repeat; }

/* Endomarketing */
#endoMarketing .panel {
  padding: 15px;
  height: 190px;
  color: #FFF; }
  #endoMarketing .panel a {
    font-weight: 800;
    position: absolute;
    bottom: 30px;
    left: 30px; }
  #endoMarketing .panel p {
    width: 60%; }
  #endoMarketing .panel.creditcard {
    background: url(../images/portal/ic_credit_card.svg) no-repeat center right 20px;
    background-color: #002977;
    background-size: 35%; }
    #endoMarketing .panel.creditcard a {
      color: #002977; }
  #endoMarketing .panel.personal {
    background: url(../images/portal/ic_loan.svg) no-repeat center right 20px;
    background-color: #1450C3;
    background-size: 35%; }
    #endoMarketing .panel.personal a {
      color: #1450C3; }
  #endoMarketing .panel.floating {
    background: url(../images/portal/ic_shopping.svg) no-repeat center right 20px;
    background-color: #3498DB;
    background-size: 35%; }
    #endoMarketing .panel.floating a {
      color: #3498DB; }

/* FOOTER */
footer {
  margin-top: 60px;
  background: #002977;
  color: white;
  padding: 10px 0 40px; }
  footer .omni_footer {
    background: url(../images/portal/omni_logo_footer.svg) top left no-repeat;
    display: block;
    text-indent: -9999px;
    width: 100%;
    height: 65px; }
  footer p {
    opacity: .8;
    font-size: 1.2rem; }
  footer li a {
    color: #FFF !important;
    opacity: .8;
    display: inline-block;
    padding-top: 5px; }
    footer li a:hover {
      opacity: 1; }
    footer li a.social-icon {
      padding: 5px;
      font-size: 2.4rem; }

@media only screen and (max-width: 767px) {
  #new-menu .navbar-header .navbar-toggle .icon-bar {
    color: #002977; }
  .contractList li {
    height: auto;
    flex-direction: row;
    flex-wrap: wrap; }
  #endoMarketing {
    display: none; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contractList li .icon {
    width: 12%; }
  #endoMarketing .panel {
    background-size: 20% !important;
    height: 220px; } }

/* PORTAL DE COBRANÇA */
/*Custom - ADICIONE SUAS CLASSES NESTE ARQUIVO*/
