<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome.css}">

    <!-- DATATABLES -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/datatables.css}" />

    <!-- AUTOCOMPLETE -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/chosen.css}">

    <!-- AUTOCOMPLETE -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/gallery.css}">

    <!-- DATE RANGE -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/data.css}">

    <!-- ESTILO DO TEMA - SEMPRE POR ÚLTIMO -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/omnifacil.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">

    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/home.js}"></script>


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">
        <title>Lista de Grupos</title>
</head>
<body>
    <!-- INÍCIO -->
    <div th:replace="header :: navs"></div>

    <main class="container-fluid">

        <div class="row justify-content-center mt-3">
            <div id="msg-sucesso" th:if="${msgSucesso}" class="alert alert-success fs-5">
                <p id="h-msg" th:text="${msgSucesso}" class="mb-0"></p>
            </div>

            <div  th:if="${msgExcluir}" class="alert alert-danger fs-5">
                <p th:text="${msgExcluir}" class="mb-0"></p>
            </div>
        </div>
         <!-- Tabela de Grupos/produto  -->
        <div class="x_panel">
            <div class="x-title " >
                <h2 class="text-center">Grupo de Produtos</h2>
            </div>
            
            <div class="x_content text-center">
                <div class="col-xs-12 crumb">
                    <a type="button" class="abutton btn btn-primary btn-sm pull-right " href="/api/public/grupo/form">Adicionar novo grupo de Produtos</a>
                </div>
                <div  class="col-xs-12">
                    <table class="table table-striped">
                        <thead>
                            <tr class="tr row">
                                <th class="col-md-3">GRUPOS</th>
                                <th class="col-md-6">PRODUTOS</th>
                                <th class="col-md-3">Ações</th>
                            </tr>
                        </thead>

                        <tbody id="tdBloco" th:each="grupo: ${grupos}">
                            <tr class="row">

                                <td class="col-md-3"   th:text="${grupo.nome}"></td>

                                <td class="col-md-6"  th:text="${#strings.listJoin(grupo.produto, ', ')}"></td>

                                <td class="col-md-3">
                                    <a type="button" th:href="@{/api/public/grupo/details/{id}(id=${grupo.id})}" class="btn btn-primary"><i class="fas fa-eye"> </i></a>
                                    <a type="button" th:href="@{/api/public/grupo/getupdate/{id}(id=${grupo.id})}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                                    <a type="button" th:href="@{/api/public/grupo/delete/{id}(id=${grupo.id})}" onclick="return confirm('Deseja excluir este registro?');" class="btn btn-primary"><i class="fas fa-trash"></i></a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>

                <ul th:if="${grupos.totalPages > 0}" class="pagination justify-content-center">
                    <li th:classappend="${grupos.number == 0} ? disabled : ''" class="page-item">
                        <a th:href="@{/api/public/grupo/list(size=${grupos.size}, page=${grupos.number - 1})}" class="page-link">Anterior</a>
                    </li>
                    <li class="page-item" th:each="pageNumber : ${pageNumbers}" th:classappend="${pageNumber==grupos.number + 1} ? active : ''">
                        <a th:href="@{/api/public/grupo/list(size=${grupos.size}, page=${pageNumber - 1})}" th:text=${pageNumber} class="page-link"></a>
                    </li>
                    <li th:classappend="${(grupos.number + 1) == grupos.totalPages} ? disabled : ''" class="page-item">
                        <a th:href="@{/api/public/grupo/list(size=${grupos.size}, page=${grupos.number + 1})}" class="page-link">Próxima</a>
                    </li>
                </ul>
            </div>      
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>